body,
text {
    font-family: 'Roboto', sans-serif !important;
}

body,
.footer {
    background-color: #F8F8F9;
}

.card {
    border-radius: 8px;
    border-width: 2px;
    background-color: #65707b;
    transition: all 0.3s ease;
    border: none;
}

.card:hover {
    box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.17);
    background-color: #7f8b97;
    cursor: pointer;
    opacity: 0.8;
}

.card:hover .card-title {
    color: #e0e0e0;
}

.card:hover .card-text {
    color: #686c6e;
}

input#search,
h2,
span.small,
.card-title,
.card-text {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

h2,
span.small,
.card-title {
    color: #343a40;
    cursor: pointer;
}

hr {
    border: solid 1px #afb5b9;
}

.card-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #afb5b9;
}

.card-title {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1.33;
    cursor: default;
}

span.small {
    opacity: 0.6;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
}

.navbar-brand {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    color: #9aa3a7;
    cursor: default;
    display: flex;
}

.navbar-brand-title {
    margin-top: 4px;
}

.row {
    display: unset !important;
}

.navbar-dark {
    background-color: #343a40 !important;
}

input#search {
    font-weight: normal;
    line-height: 1.33;
    color: #9aa3a7;
    border-radius: 8px;
    border: solid 2px #36474f;
}