.card-light {
    border-radius: 8px;
    border-width: 2px;
    background-color: #d8dbde;
    transition: all 0.3s ease;
    border: none;
}

.card-light:hover {
    box-shadow: 3px 3px 17px 0 rgba(0, 0, 0, 0.17);
    background-color: #eef1f5;
    cursor: pointer;
    opacity: 0.8;
}

.card-light:hover .card-light-title {
    color: #3a4042;
}

.card-light:hover .card-light-text {
    color: #3a4042;
}

.card-light-title,
.card-light-text {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}


.card-light-text {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #343a40;
    margin-bottom: 0px;
}

.card-light-title {
    font-family: Roboto;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #343a40;
    margin-bottom: 0px;
}